@page "/chart"

<div class="container bg-white rounded border p-3">
    <div class="pl-3">
        <div class="row">
            <span style="font-size:18px; color:#8f8f8f;">Currencies</span>
        </div>
        <div class="row pt-4">
            <a class="btn btn-primary" href="/chart/new" style="background-color:#6372C4"><i class="far fa-file"></i> New</a>
        </div>
    </div>
</div>

<div class="container bg-white border box-shadow p-3 rounded">
    @if (ChartVMs == null)
    {
        <p style="color:gray;">Loading ...</p>
    }
    else if (ChartVMs.Count() == 0)
    {
        <p style="color:gray;">No records to display.</p>
    }
    else
    {
        <SfGrid DataSource="@ChartVMs" AllowPaging="true" AllowSorting="true">
            <GridEvents RowSelected="RowSelectHandler" TValue="ChartVM"></GridEvents>
            <GridPageSettings PageSize="10" />
            <GridColumns>
                <GridColumn Field="Chart.Id" HeaderText="ID" Width="50" />
                <GridColumn Field="Chart.Name" HeaderText="Name" Width="200" />
            </GridColumns>
        </SfGrid>
    }
</div>


@code 
{
    [Inject] public IChartService ChartService { get; set; }
    [Inject] NavigationManager NavigationManager { get; set; }
    [Inject] public IJSRuntime JSRuntime { get; set; }

    public List<ChartVM> ChartVMs { get; set; }

    protected override async Task OnInitializedAsync()
    {
        ChartVMs =(await ChartService.GetCurrencies()).OrderByDescending(x => x.Chart.Id).ToList();
        if (ChartVMs.Count > 0 && !string.IsNullOrEmpty(ChartVMs[0].Exception))
        {
            await JSRuntime.Notfication(ChartVMs[0].Exception, IJSRuntimeExtensionMethods.SweetAlertMessageType.error, 10000);
        }
    }

    public void RowSelectHandler(RowSelectEventArgs<ChartVM> args)
    {
        NavigationManager.NavigateTo($"chart/{args.Data.Chart.Id}");
    }
}


 <style>
            .e-grid .e-headercelldiv {
                background-color: #F2F3F4;
                font-size: 16px;
            }

            .e-grid .e-rowcell {
                font-size: 14px;
            }
 </style>
