@page "/chart/{id:int}"

    <div class="container bg-white rounded border p-3">
        <div class="pl-3">
            <div class="row">
                <span style="font-size:18px; color:#8f8f8f;"><a href="/chart" style="color:#6372C4">Charts</a> /  @id</span>
            </div>
            <div class="row pt-4">
                <a class="btn btn-primary" href="/chart/edit/@id" style="background-color:#6372C4"><i class="far fa-edit"></i> Edit</a>
                <a class="btn border ml-1" href="/chart/new"><i class="far fa-file"></i> New</a>
                <button class="btn border ml-5" @onclick="DeleteConfirm"><i class="far fa-trash-alt"></i> Delete</button>
            </div>
        </div>
    </div>

    <div class="container bg-white border box-shadow p-3 rounded">
        <ChartForm ChartVM="ChartVM" Type="Details" />
    </div>


    @code {

        [Parameter] public int id { get; set; }
        [Inject] public IChartService ChartService { get; set; }
        [Inject] public IJSRuntime JSRuntime { get; set; }
        [Inject] NavigationManager NavigationManager { get; set; }

        ChartVM ChartVM { get; set; } = new ChartVM();

        protected override async Task OnInitializedAsync()
        {
            ChartVM = await ChartService.GetChart(id);
        }

        protected async Task DeleteConfirm()
        {
            bool result = await JSRuntime.Confirm("Confirmation", $"Are you sure you want to delete {ChartVM.Chart.Name} ?", IJSRuntimeExtensionMethods.SweetAlertMessageType.question);
            if (result) await Delete();  
        }
        protected async Task Delete()
        {
            ChartVM createdChartVM = await ChartService.DeleteChart(ChartVM.Chart.Id);

            if (string.IsNullOrEmpty(createdChartVM.Exception))
            {
                await JSRuntime.Notfication($"Chartment {ChartVM.Chart.Name} has been deleted successfully!", IJSRuntimeExtensionMethods.SweetAlertMessageType.success, 3000);
                NavigationManager.NavigateTo($"/chart");
            }
            else
            {
                await JSRuntime.Notfication(createdChartVM.Exception, IJSRuntimeExtensionMethods.SweetAlertMessageType.error, 10000);
            }
        }
    }
