@page "/chart/new"

<div class="container bg-white rounded border p-3">
    <div class="pl-3">
        <div class="row">
            <span style="font-size:18px; color:#8f8f8f;"><a href="/chart" style="color:#6372C4">Charts</a> /  New</span>
        </div>
        <div class="row pt-4">
            <button class="btn btn-primary" type="submit" @onclick=@(()=> Save()) style="background-color:#6372C4"><i class="far fa-save"></i> Save</button>
            <a class="btn border ml-1" href="/chart"><i class="fas fa-undo"></i> Cancel</a>
        </div>
    </div>
</div>

<div class="container bg-white border box-shadow p-3 rounded">
    <ChartForm ChartVM="ChartVM" ecb_Save="Create" Type="New" @ref="Form" />
</div>


@code
{
    [Inject] public IChartService ChartService { get; set; }
    [Inject] public IJSRuntime JSRuntime { get; set; }
    [Inject] NavigationManager NavigationManager { get; set; }

    protected ChartForm Form;
    ChartVM ChartVM { get; set; } = new ChartVM();

    private async Task Save()
    {
        await Form.ParentSubmit();
    }
    private async Task Create()
    {
        ChartVM.Exception = null;
        ChartVM createdChartVM = await ChartService.CreateChart(ChartVM);

        if (string.IsNullOrEmpty(createdChartVM.Exception))
        {
            await JSRuntime.Notfication($"Chart {ChartVM.Chart.Name} has been created successfully!", IJSRuntimeExtensionMethods.SweetAlertMessageType.success, 3000);
            NavigationManager.NavigateTo($"/chart/{createdChartVM.Chart.Id}");
        }
        else
        {
            await JSRuntime.Notfication(createdChartVM.Exception, IJSRuntimeExtensionMethods.SweetAlertMessageType.error, 10000);
        }
    }
}