@page "/currency/{id:int}"

    <div class="container bg-white rounded border p-3">
        <div class="pl-3">
            <div class="row">
                <span style="font-size:18px; color:#8f8f8f;"><a href="/currency" style="color:#6372C4">Currencys</a> /  @id</span>
            </div>
            <div class="row pt-4">
                <a class="btn btn-primary" href="/currency/edit/@id" style="background-color:#6372C4"><i class="far fa-edit"></i> Edit</a>
                <a class="btn border ml-1" href="/currency/new"><i class="far fa-file"></i> New</a>
                <button class="btn border ml-5" @onclick="DeleteConfirm"><i class="far fa-trash-alt"></i> Delete</button>
            </div>
        </div>
    </div>

    <div class="container bg-white border box-shadow p-3 rounded">
        <CurrencyForm CurrencyVM="CurrencyVM" Type="Details" />
    </div>


    @code {

        [Parameter] public int id { get; set; }
        [Inject] public ICurrencyService CurrencyService { get; set; }
        [Inject] public IJSRuntime JSRuntime { get; set; }
        [Inject] NavigationManager NavigationManager { get; set; }

        CurrencyVM CurrencyVM { get; set; } = new CurrencyVM();

        protected override async Task OnInitializedAsync()
        {
            CurrencyVM = await CurrencyService.GetCurrency(id);
        }

        protected async Task DeleteConfirm()
        {
            bool result = await JSRuntime.Confirm("Confirmation", $"Are you sure you want to delete {CurrencyVM.Currency.Name} ?", IJSRuntimeExtensionMethods.SweetAlertMessageType.question);
            if (result) await Delete();  
        }
        protected async Task Delete()
        {
            CurrencyVM createdCurrencyVM = await CurrencyService.DeleteCurrency(CurrencyVM.Currency.Id);

            if (string.IsNullOrEmpty(createdCurrencyVM.Exception))
            {
                await JSRuntime.Notfication($"Currencyment {CurrencyVM.Currency.Name} has been deleted successfully!", IJSRuntimeExtensionMethods.SweetAlertMessageType.success, 3000);
                NavigationManager.NavigateTo($"/currency");
            }
            else
            {
                await JSRuntime.Notfication(createdCurrencyVM.Exception, IJSRuntimeExtensionMethods.SweetAlertMessageType.error, 10000);
            }
        }
    }
