@page "/company/new"

<div class="container bg-white rounded border p-3">
    <div class="pl-3">
        <div class="row">
            <span style="font-size:18px; color:#8f8f8f;"><a href="/company" style="color:#6372C4">Companys</a> /  New</span>
        </div>
        <div class="row pt-4">
            <button class="btn btn-primary" type="submit" @onclick=@(()=> Save()) style="background-color:#6372C4"><i class="far fa-save"></i> Save</button>
            <a class="btn border ml-1" href="/company"><i class="fas fa-undo"></i> Cancel</a>
        </div>
    </div>
</div>

<div class="container bg-white border box-shadow p-3 rounded">
    <CompanyForm CompanyVM="CompanyVM" ecb_Save="Create" Type="New" @ref="Form" />
</div>


@code
{
    [Inject] public ICompanyService CompanyService { get; set; }
    [Inject] public IJSRuntime JSRuntime { get; set; }
    [Inject] NavigationManager NavigationManager { get; set; }

    protected CompanyForm Form;
    CompanyVM CompanyVM { get; set; } = new CompanyVM();

    private async Task Save()
    {
        await Form.ParentSubmit();
    }
    private async Task Create()
    {
        CompanyVM.Exception = null;
        CompanyVM createdCompanyVM = await CompanyService.CreateCompany(CompanyVM);

        if (string.IsNullOrEmpty(createdCompanyVM.Exception))
        {
            await JSRuntime.Notfication($"Company {CompanyVM.Company.Name} has been created successfully!", IJSRuntimeExtensionMethods.SweetAlertMessageType.success, 3000);
            NavigationManager.NavigateTo($"/company/{createdCompanyVM.Company.Id}");
        }
        else
        {
            await JSRuntime.Notfication(createdCompanyVM.Exception, IJSRuntimeExtensionMethods.SweetAlertMessageType.error, 10000);
        }
    }
}