@page "/costcenter/edit/{id:int}"

<div class="container bg-white rounded border p-3">
    <div class="pl-3">
        <div class="row">
            <span style="font-size:18px; color:#8f8f8f;"><a href="/costcenter" style="color:#6372C4">CostCenters</a>  /  @id</span>
        </div>
        <div class="row pt-4">
            <button class="btn btn-primary" type="submit" @onclick=@(()=> Save()) style="background-color:#6372C4"><i class="far fa-save"></i> Save</button>
            <a class="btn border ml-1" href="/costcenter/@id"><i class="fas fa-undo"></i> Cancel</a>
        </div>
    </div>
</div>

<div class="container bg-white border box-shadow p-3 rounded">
    <CostCenterForm CostCenterVM="CostCenterVM" ecb_Save="Update" Type="Edit" @ref="Form"/>
</div>

    @code {

        [Inject] public ICostCenterService CostCenterService { get; set; }
        [Inject] public IJSRuntime JSRuntime { get; set; }
        [Inject] NavigationManager NavigationManager { get; set; }
        [Parameter] public int id { get; set; }

        CostCenterVM CostCenterVM { get; set; } = new CostCenterVM();
        protected CostCenterForm Form;

        protected override async Task OnInitializedAsync()
        {
            CostCenterVM = await CostCenterService.GetCostCenter(id);
        }

        private async Task Save()
        {
            await Form.ParentSubmit();
        }

        private async Task Update()
        {
            CostCenterVM.Exception = null;
            CostCenterVM updatedCostCenterVM = await CostCenterService.UpdateCostCenter(CostCenterVM.CostCenter.Id, CostCenterVM);

            if (string.IsNullOrEmpty(updatedCostCenterVM.Exception))
            {
                await JSRuntime.Notfication($"CostCenterment {CostCenterVM.CostCenter.Name} has been updated successfully!", IJSRuntimeExtensionMethods.SweetAlertMessageType.success, 3000);
                NavigationManager.NavigateTo($"/costcenter/{updatedCostCenterVM.CostCenter.Id}");
            }
            else
            {
                await JSRuntime.Notfication(updatedCostCenterVM.Exception, IJSRuntimeExtensionMethods.SweetAlertMessageType.error, 10000);
            }
        }
    }
