@page "/costcenter/new"

<div class="container bg-white rounded border p-3">
    <div class="pl-3">
        <div class="row">
            <span style="font-size:18px; color:#8f8f8f;"><a href="/costcenter" style="color:#6372C4">CostCenters</a> /  New</span>
        </div>
        <div class="row pt-4">
            <button class="btn btn-primary" type="submit" @onclick=@(()=> Save()) style="background-color:#6372C4"><i class="far fa-save"></i> Save</button>
            <a class="btn border ml-1" href="/costcenter"><i class="fas fa-undo"></i> Cancel</a>
        </div>
    </div>
</div>

<div class="container bg-white border box-shadow p-3 rounded">
    <CostCenterForm CostCenterVM="CostCenterVM" ecb_Save="Create" Type="New" @ref="Form" />
</div>


@code
{
    [Inject] public ICostCenterService CostCenterService { get; set; }
    [Inject] public IJSRuntime JSRuntime { get; set; }
    [Inject] NavigationManager NavigationManager { get; set; }

    protected CostCenterForm Form;
    CostCenterVM CostCenterVM { get; set; } = new CostCenterVM();

    private async Task Save()
    {
        await Form.ParentSubmit();
    }
    private async Task Create()
    {
        CostCenterVM.Exception = null;
        CostCenterVM createdCostCenterVM = await CostCenterService.CreateCostCenter(CostCenterVM);

        if (string.IsNullOrEmpty(createdCostCenterVM.Exception))
        {
            await JSRuntime.Notfication($"CostCenter {CostCenterVM.CostCenter.Name} has been created successfully!", IJSRuntimeExtensionMethods.SweetAlertMessageType.success, 3000);
            NavigationManager.NavigateTo($"/costcenter/{createdCostCenterVM.CostCenter.Id}");
        }
        else
        {
            await JSRuntime.Notfication(createdCostCenterVM.Exception, IJSRuntimeExtensionMethods.SweetAlertMessageType.error, 10000);
        }
    }
}